nearsight_env
assets/*
*.sqlite*
nearsight_data/*
.idea
*.pyc
temp.json
local_settings.py
celery.log
celerybeat.pid
celerybeat-schedule
test.json
local_settings.py
clear_fm_db.sh
!nearsight/scripts/settings.py
media/
data/
nearsight/tests/test_geojson.json
build/
init.py*
manage.py
*~
*.egg-info
*.djcache
dist